* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  /* primary */
  --BrightBlue: hsl(220, 98%, 61%);
  --CheckBackground: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

  /* light theme */
  --VeryLightGray: hsl(0, 0%, 98%);
  --VeryLightGrayishBlue: hsl(236, 33%, 92%);
  --LightGrayishBlue1: hsl(233, 11%, 84%);
  --DarkGrayishBlue1: hsl(236, 9%, 61%);
  --VeryDarkGrayishBlue1: hsl(235, 19%, 35%);

  /* dark theme */
  --VeryDarkBlue: hsl(235, 21%, 11%);
  --VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
  --LightGrayishBlue2: hsl(234, 39%, 85%);
  --LightGrayishBlueHover: hsl(236, 33%, 92%);
  --DarkGrayishBlue2: hsl(234, 11%, 52%);
  --VeryDarkGrayishBlue2: hsl(233, 14%, 35%);
  --VeryDarkGrayishBlue3: hsl(237, 14%, 26%);
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.6;
}

/* Styles for night mode */
body.light-mode {
  background-color: var(--VeryLightGrayishBlue);
  transition: 0.5s ease;
  background-image: url('./assets/bg-mobile-light.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}

/* Styles for dark mode */
body.dark-mode {
  background-color: var(--VeryDarkBlue);
  transition: 0.5s ease;
  background-image: url('./assets/bg-mobile-dark.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}

h1 {
  font-family: 'Josefin Sans', sans-serif !important;
  font-size: 2.2em;
  padding: 2px 0;
  font-weight: 600;
  letter-spacing: 10px;
  color: var(--VeryLightGray) !important;
}

p {
  font-family: inherit;
  font-size: 14px;
}

button {
  font-family: 'Josefin Sans', sans-serif !important;
  font-size: 14px;
  font-weight: 400;
  border: none;
  background: none;
  cursor: pointer;
}

button:focus {
  outline: none;
  border: none;
  color: var(--BrightBlue);
}

.desktop_view_only {
  display: none !important;
}

.mobile_view_only {
  display: flex !important;
}

.add-btn {
  font-size: 16px;
  margin-bottom: -3px;
}

.theme-icon {
  color: var(--VeryLightGray);
  font-size: 2em;
  padding: -5px 0;
}

.close-icon {
  font-size: 20px;
  margin-bottom: -0.2rem;
  transform: skewX(15deg);
}

.profile {
  color: var(--VeryDarkBlue);
  font-size: 20px;
  margin-bottom: -0.2rem;
}

body.light-mode .close-icon {
  color: var(--DarkGrayishBlue1);
}

body.dark-mode .close-icon {
  color: var(--VeryDarkGrayishBlue2);
}

@media screen and (min-width:768px) {

  /* Styles for night mode */
  body.light-mode {
    background-image: url('./assets/bg-desktop-light.jpg');
  }

  /* Styles for dark mode */
  body.dark-mode {
    background-image: url('./assets/bg-desktop-dark.jpg');
  }

  p {
    font-size: 16px;
  }

  .desktop_view_only {
    display: flex !important;
  }

  .mobile_view_only {
    display: none !important;
  }
}